<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

  <bean id="springSecurityFilterChain"
        class="org.springframework.web.filter.DelegatingFilterProxy"
        init-method="initFilterBean">
  </bean>

  <!-- Empty filter chain for the login page -->
  <sec:http pattern="/samples.ioc.blueprint.spring.security/login/" security="none"/>

  <!--
    for OAuth 2 see
    https://github.com/pwheel/spring-security-oauth2-client
    https://github.com/spring-projects/spring-security-oauth/blob/114fbd44beef0382009f207c08f0b1d9c24e95a9/samples/oauth2/sparklr/src/main/webapp/WEB-INF/spring-servlet.xml
  -->
  <sec:http>
    <sec:intercept-url pattern="/samples.ioc.blueprint.spring.security/admin/**"
                       access="hasAnyRole('ADMIN')"/>
    <sec:intercept-url pattern="/samples.ioc.blueprint.spring.security/manager/**"
                       access="hasAnyRole('ADMIN','MANAGER')"/>
    <sec:intercept-url pattern="/samples.ioc.blueprint.spring.security/**"
                       access="hasAnyRole('ADMIN','MANAGER','USER')"/>
    <!-- CSRF disabled for now -->
    <sec:csrf disabled="true"/>
    <sec:form-login login-page="/samples.ioc.blueprint.spring.security/login/"
                    login-processing-url="/samples.ioc.blueprint.spring.security/authenticate"
                    authentication-failure-url="/samples.ioc.blueprint.spring.security/login/?failure"
                    default-target-url="/samples.ioc.blueprint.spring.security/login/?success"/>
    <sec:logout logout-url="/samples.ioc.blueprint.spring.security/logout"
                logout-success-url="/samples.ioc.blueprint.spring.security/login/?logout"/>
  </sec:http>

  <sec:authentication-manager alias="authenticationManager">
    <sec:authentication-provider>
      <sec:user-service>
        <sec:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
        <sec:user name="manager" password="manager" authorities="ROLE_MANAGER"/>
        <sec:user name="user" password="user" authorities="ROLE_USER"/>
      </sec:user-service>
    </sec:authentication-provider>
  </sec:authentication-manager>

  <bean id="usernamePasswordAuthenticatorId"
        class="pl.kubiczak.felix.shark.samples.ioc.blueprint.spring.security.UsernamePasswordAuthenticator">
    <property name="authenticationManager" ref="authenticationManager"/>
  </bean>

</beans>
